.main-header {
    position: relative;
    max-width: 1080px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    
}

.main-header::before {
content: '';
z-index: -1;
background: #7ABCAC;
position: absolute;
top: 0;
left: 0;
right: 0;
height: 30px;
display: block;
}

.main-header__title {
    display: inline-block;
    font-size: 36px;
    text-align: center;
    padding: 20px 40px;
    outline: 2px solid #000;
    outline-offset: 70px;
    margin: 20px;
    

}

.main-header__title2 {
    display: block;
    background: #000;
    color: #fff;
    font-size: 1em;
    text-align: center;
    padding: 2px 8px;
    width: 150px;
    margin: 10px auto 20px;
  
}
.box {
  height: 300px;
  width: 300px;
  margin: 0 auto;
}
.box:last-child {
max-width: 600px;
width: 100%;
}
  
.container {
  display: flex;
  flex-direction: row;
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: flex-start;
}

  
.link-section__title {
    font-size: 24px;
    margin-bottom: 8px;
  }
  
  .separator {
    background: darkgray;
    height: 2px;
    border: none;
    margin: 10px 0;
  }
  
  .separator--fancy {
    position: relative;
    overflow: visible;
  }
  
  .separator--fancy::before {
    content: '';
    display: block;
    height: 6px;
    width: 60px;
    background: green;
    position: absolute;
    left: 0;
    bottom: -2px;
  }

  .separator--short {
    width: 40%;
  }
  
  .pill {
    padding: 2px 8px;
    border-radius: 10px;
    background: darkgray;
    font-size: 14px;
    margin: 4px 8px;
    color: #e1e1e1;
    text-transform: uppercase;
    display: block;
    width: max-content;
  }
  
  .pill--red {
    background: #C29486;
  }
  
  .pill--yellow {
    background: goldenrod;
  }
  
  .pill--green {
    background: green;
  }
  .box1 {
    height: 250px;
    width: 300px;
    margin: 0 auto;
  }
  .content-section {
    display: flex;
    flex-direction: row;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: flex-start;
  }
